fastapi
uvicorn[standard]

pandas
numpy

requests
beautifulsoup4
lxml

python-multipart
pydantic

torch
transformers
safetensors
huggingface_hub

allennlp

networkx
pyvis

playwright

scikit-learn

aiofiles